<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://github.com/eladlandman/MyDemoProject</ProjectUrl>
  <LicenseUrl>http://www.intel.com</LicenseUrl>
  <requireLicenseAcceptance>false</requireLicenseAcceptance>
  <Authors>elandman</Authors>
  <Owners>elandman</Owners>
  <Copyright>Intel RealSense Tools Team</Copyright>
  <Description>This is Demo package includes ...</Description>
  <Summary>My Demo Project</Summary>
</NuGetPack>